@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    @apply text-dark;
  }
  h1 {
    @apply text-[32px] font-semibold;
  }
  h2 {
    @apply text-[28px] font-semibold;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }

}
